<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tbmcv.tbmmovel" >

    <application
        android:allowBackup="true"
        android:label="@string/tbm_app_name"
        android:theme="@style/tbm_AppTheme" >
        <activity
            android:name=".InitConfigActivity"
            android:label="@string/tbm_title_activity_init_config" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/tbm_title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
